div.inputDiv{
    margin: auto;
    width:50%;
    display: flex;
    justify-content: space-between;


    input.addTaskInput{
        flex-grow: 2;
        height: 1.8rem;
        border: none;
        border-radius: 5px;
        margin-right: .5rem;
        padding-left: .5rem;
        accent-color: $accent-color;
    
    }
}

@media (max-width : 768px){
    div.inputDiv{
        width:90%;

        input.addTaskInput{
            flex-grow: 2;
        
        }
    }
}


button{
    background-color:$accent-color ;
    aspect-ratio: 2/1;
    height: 1.8rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    i::before{
        height: 50px;
    }
}

