div.task{
    margin: 0rem .5rem .5rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p{
        flex-grow: 3;
        overflow-wrap: break-word;

    }

    div{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    button{
        aspect-ratio: 1/1;
    }

}

div#donesCol{
    div.task p{
        opacity: .3;
        text-decoration: line-through;
    }
}


